<polymer-element name="main-view">
  <template>
    <h1>Mad Lib</h1>
  
    
    <div class="box-container">
      <form on-submit="{{submit}}">
        <template repeat="{{word in wordList}}">
          <input type="text" placeholder="Enter {{word.type}}..." value="{{word.usersWord}}"/>
        </template>
        <button>Generate Mad Lib</button>
      </form>
       <p>{{madlib}}</p>
    </div>
  </template>
    
  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>